<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <context:annotation-config/>
    <context:component-scan base-package="org.example"/>
    <jpa:repositories base-package="org.example" />

    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3386/pleasework"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" id="vendor">
        <property name="generateDdl" value="true"/>
        <property name="showSql" value="true"/>

    </bean>

    <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactory"
          p:dataSource-ref="dataSource">
        <property name="jpaVendorAdaptor" ref="vendor"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate-dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.hbn2ddl.auto">create</prop>
            </props>
        </property>
    </bean>

</beans>